*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--tetris);
}
:root{
    --tetris: 'Press Start 2P', cursive;
    /* --btn-m: grid; */
    --btn-m: none;
    --btn-p: flex;
}
body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 100vh;
}
.score{
    position: relative;
    padding: 80px 30px;
}
.score::before{
    position: absolute;
    content: "Dev @ElPardo16 & @AngelaDiaz20";
    width: 100%;
    height: 40px;
    inset: 0;
    margin: auto;
    margin-bottom: 0;
    color: green;
    margin-left: 30px;
    font-size: .8rem;
}
.score h1{
    color: green;
    margin-bottom: 50px;
}
#d-proxima{
    margin: 40px 0;
}
.score p:not(:first-of-type){
    margin-bottom: 20px;
}
.score p > span{
    color: green;
}
.screen{
    display: grid;
    grid: 1fr min-content min-content / max-content;
    padding: 30px;
    position: relative;
}
.btn-mobile{
    display: var(--btn-m);
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    place-items: stretch;
    padding: 10px 30px 0;
}
.btn-mobile a, .play{
    background: green;
    color : white;
    text-align: center;
    text-decoration: none;
    height: 60px;
    max-width: 60px;
}
.btn-mobile span{
    line-height: 60px;
}

canvas{
    border: black 2px solid;
}
.play{
    margin-top: 10px;
    background: green;
    max-width: none;
    display: var(--btn-p);
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.play:hover{
    background: rgb(1, 92, 1);
    transition: ease 200ms;
}
.disable{
    background: gray;
    pointer-events: none;
}
.lose{
    background-color: black;
    color: white;
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: block;
}
.hide{
    display: none;
}

/*Mediasquery*/
@media (max-width: 480px) {
    body{
        justify-content: center;
    }
    .score{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
    }
    .score h1{
        margin-bottom: 20px;
        font-size: 1.4rem;
    }
    #d-proxima{
        margin: 20px 0;
    }
    .score p:not(:first-of-type){
        margin-bottom: 5px;
    }
    .score::before{
        height: 20px;
        inset: 0;
        margin-left: 0;
        margin-bottom: -10px;
        font-size: .6rem;
    }
}
